.join {
    color: #ffd37d;
    border: 1px solid #ffd37d;
    padding: 0px 25px;
    border-radius: 20px;
    margin-left: 58%;
}

.follow {
    color: #ffd37d;
    border: 1px solid #ffd37d;
    padding: 0px 5px;
    border-radius: 20px;

}